@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.chart__container {
  position: relative;
  width: 100%;
  max-width: 701px;
  max-height: 283px;
  height: 100%;
  font-family:  'PT Sans', sans-serif;
  border: 1px solid #E2E5EE;
  border-radius: 6px;
  padding: 35px 20px;

}