* {
  box-sizing: border-box;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}


ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  max-width: 1440px;
  max-height: 559px;
  margin: 0 auto;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.25;
}


ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.app__container {
  //padding: 20px 40px;
  display: flex;
  margin: 0 auto;
  justify-content: start;
  flex-direction: column;
 width: 100%;
  height: 559px;
  //background-color: antiquewhite;
  flex-wrap: wrap;
}